<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<title>Spring Boot multi-package demo</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
			data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<main role="main" class="container pt-5">
	<div>
		<h1>Spring Boot multi-package demo</h1>
		<p class="lead">A demo Spring Boot project to demonstrate packaging for multiple platforms.</p>
	</div>
</main>
</body>
</html>
